html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 70px;
}

body > .container {
    min-height: calc(100vh - 130px);
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.lib-navbar form {
    margin-bottom: 0;
}

.lib-navbar .lib-search {
    width: 13rem;
}

.lib-header-menu > * {
    margin-right: 0.5rem;
}

.lib-form-signin {
    display: flex;
}

.lib-search-form input[type=submit] {
    margin-left: 1rem;
}

.lib-search-form div {
    margin-bottom: 0.5rem;
    flex-basis: 100%;
}

.lib-form-signin > *:not(:last-child) {
    width: 6rem;
    margin-right: 0.2rem;
}

.lib-parent-book-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.lib-parent-book-info h2 {
    flex-basis: 100%;
}

.lib-main-book-img {
    float: left;
    margin-right: 20px;
    max-height: 215px;
    max-width: 200px;
}

.btn-secondary-menu {
    margin-bottom: 5px;
}

.form-action {
    float: left;
    margin-right: 5px;
}

.lib-row-action-widget button {
    width: 100%;
}

.lib-row-action-widget button:first-of-type {
    margin-bottom: 0.3rem;
}

.table {
    font-size: 0.9rem;
}

.table form {
    margin-bottom: 0;
}

.table-cell-user {
    width: 15%;
}

.required:after {
    content: " *";
    color: red;
}



